body{
    display: grid; 
    justify-content: center;
    justify-items: center;
}

.heading{
    /* font-size: 20px; */
    color: white;
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:4px 4px #376dc493  ;
}

.note{
    /* background-color: white;
    width: 323px;
    height: 265px;
    margin-top: 50px;
    display: grid;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 10px 10px #376dc493;
    justify-content: center;
    align-content: space-evenly; */
    background-color: white;
    width: 345px;
    height: 312px;  
    margin-top: 50px;
    display: grid;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 10px 10px #376dc493;
    /* align-content: space-evenly;*/
}


.cdiv{
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.celLabel{

    font-size: 20px;
    color: #4b9be0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cel{
    
    border: 2px solid #4b9be0;
    /* border-color: #4b9be0; */
    /* border-width: 2.5px; */
    width: 133px;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 30px;
    height: 24px;
    color: #4b9be0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cel:focus{

    outline: solid 2.5px #4b9be0;
}

.buttC{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    justify-items: center;
}

.convertC{
 
    width: 189px;
    display: grid;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4b9be0;
    border-radius: 4px;
    border: #4b9be0;
    padding: 10px;
    /* margin-top: 24px; */

}

.fdiv{

    /* top: 100px; */
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.farLabel{

    font-size: 20px;
    color: #4b9be0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.far{

    border: 2px solid #4b9be0;
    /* border-color: #4b9be0; */
    /* border-width: 2.5px; */
    width: 133px;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 30px;
    height: 24px;
    color: #4b9be0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.far:focus{

    outline: solid 2px #4b9be0;
}

.buttF{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    justify-items: center;
}

.convertF{

    width: 189px;
    display: grid;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4b9be0;
    border-radius: 4px;
    border: #4b9be0;
    padding: 10px;
    /* margin-top: 24px; */
}

.result{
    margin-top: 13px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    color: #4b9be0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 4px;
    display: grid;
    flex-direction: row;
    justify-content: center;

}